<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mes Commits </title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <div class="container">
    <h1>Le graphe de mes Commits </h1>
    <canvas id="commitsChart" width="400" height="200"></canvas>
    <script>
        async function fetchCommitsData() {
            const response = await fetch('/commits/data');
            const data = await response.json();
            return data.commit_minutes;
        }

        function renderChart(commitMinutes) {
            const ctx = document.getElementById('commitsChart').getContext('2d');
            const chart = new Chart(ctx, {
                type: 'bar', 
                data: {
                    labels: commitMinutes.map((minute, index) => index + 1),
                    datasets: [{
                        label: 'Commits par Minute',
                        data: commitMinutes,
                        borderColor: '#ff6b6b',
                        backgroundColor: '#c8d6e5',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        }

        document.addEventListener('DOMContentLoaded', async () => {
            const commitMinutes = await fetchCommitsData();
            renderChart(commitMinutes);
        });
        </script>
    </div>
</body>

</html>