<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <title>Histogramme</title>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  
  <style>
    body{ font-family : Arial, sans-serif;
       background-color:#c8d6e5;
       /* height: 100vh; */
       display: flex;
       justify-content: center;
       align-items: center;
      };
   
  </style>
</head>
<body>
  <div id="chart_div" width="850" height="450"></div>
  <script>
    google.charts.load('current', { packages: ['corechart'] });
    google.charts.setOnLoadCallback(drawBackgroundColor);

    function drawBackgroundColor() {
      fetch('/tawarano/')
        .then(response => response.json())
        .then(data => {
          drawChart(data);
        })
        .catch(error => console.error('Erreur lors de la récupération des données:', error));
    }

    function drawChart(data) {
      // Convertir les données récupérées en un tableau utilisable par Google Charts
      var dataTable = new google.visualization.DataTable();
      dataTable.addColumn('string', 'Date');
      dataTable.addColumn('number', 'Valeur');

      data.results.forEach(entry => {
        var date = new Date(entry.Jour * 1000);
        dataTable.addRow([date.toLocaleDateString(), entry.temp]);
      });

      // Configurer les options du graphique en ligne
      var options = {
        title: 'Histogramme des températures de la ville de Tawarano',
        legend: { position: 'bottom' },
        histogram: { lastBucketPercentile: 5 },
        hAxis: { title: 'Date' },
        vAxis: { title: 'Température' },
        backgroundColor: '#f1f8e9'
      };

      var chart = new google.visualization.Histogram(document.getElementById('chart_div'));
      chart.draw(dataTable, options);
    }
  </script>
</body>
</html>
